@model int
<div class="container-row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order submitted succesfully</h1>
        <img src="~/images/lawn_leaf.jpg" width="50%"/>
    </div>
    <div class="col-12 text-center">
        <br/>
        Thank you for your order!<br/>
        Your order has been received and a follow up email should follow shortly.<br/>
        <br/>
        Order number: @Model
    </div>
</div>